<!DOCTYPE html>
<html>

<head>
	<title>Student Profile</title>
	<!-- Include Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<!-- Left Division -->
				<h4>Student Profile Menu</h4>
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Edit Profile</a></li>
					<li class="list-group-item"><a href="#">Mailbox</a></li>
					<li class="list-group-item"><a href="#">Applied Drives</a></li>
					<li class="list-group-item"><a href="#">Logout</a></li>
				</ul>
			</div>
			<div class="col-md-8">
				<!-- Right Division -->
				<h4>Welcome to Student Profile</h4>
				<p>Here, you can view and manage your profile information, check your mailbox, see the drives you have
					applied to, and logout when you are done.</p>
			</div>
		</div>
	</div>

	<!-- Include Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>